.inputfield{
    margin-bottom: 0.65rem;
}
.form{
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
             inset -20px -20px 60px #ffffff;
             padding:2rem 1rem;
}
